{% extends 'bootstrap/base.html' %}

{% block title %}Color Palette Generator{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}

<h1>Behold. The Colors</h1>

<div class="row">
    {% for color in colors %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card text-dark bg-info mb-3">
            <div class="card-header" style="background: {{color}};"></div>
            <div class="card-body">
                <p class="card-text">{{ color }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
